/* stylelint-disable unit-disallowed-list */
html {
  font-size: 16px;
}
/* stylelint-enable unit-disallowed-list */

/* stylelint-disable color-named */

body {
  background-color: #c9d5e3;
  background-image: url("../imgs/hero-background.png");
  background-position: center;
  background-size: 32%;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

h1 {
  background-color: #fff;
  font-size: 5rem;
  margin: auto;
  padding: 1.25rem 3rem;
}
