body {
  background-color: #f1faee;
  font-family: "Source Sans Pro", sans-serif;
  margin: 24px auto;
}

* {
  box-sizing: border-box;
}

section {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
}

img {
  width: 100%;
}

p {
  margin: 0 0 24px;
}

h5 {
  margin: 24px 0;
}

button {
  border: 0;
  padding: 8px 24px;
}

.card {
  background-color: #b3d16d;
  border: solid 2px white;
  border-radius: 4px;
  padding: 24px;
}

.card--magenta {
  background-color: #862843;
  color: white;
}
