/* stylelint-disable unit-disallowed-list */
html {
  font-size: 16px;
}
/* stylelint-enable unit-disallowed-list */

body {
  background-color: #f1faee;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #862843;
  display: flex;
  height: 3rem;
}

.header__container {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: 65rem;
}

.header__container-nav {
  display: flex;
  gap: 2rem;
}

.header__container-media {
  display: flex;
  gap: 1rem;
}

.header__container-nav-item {
  color: #fff;
}

.header__container-nav-item--active {
  font-weight: 600;
  text-decoration: none;
}

h1 {
  background-color: #fff;
  color: #2c2c2c;
  font-size: 5rem;
  padding: 1.5rem 3rem;
}
main {
  display: flex;
  height: calc(100vh - 3rem);
  align-items: center;
  justify-content: center;
  background-image: url("../imgs/hero-background.png");
  background-size: 340px;
}

.card {
  background-color: #b3d16d;
  border: solid 2px white;
  border-radius: 4px;
  padding: 24px;
}

.card--magenta {
  background-color: #862843;
  color: white;
}

.card img {
  width: 100%;
}

section {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
}

div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  display: flex;
  height: calc(100vh - 3rem);
  align-items: center;
  justify-content: center;
  background-image: url("../imgs/hero-background.png");
  background-size: 340px;
}
