.card {
  background-color: #b3d16d;
  border: solid 2px white;
  border-radius: 4px;
  padding: 24px;
  &--magenta {
    background-color: #862843;
    color: white;
  }

  &:has(.card__button:focus) {
    box-shadow: 0 2px 5px 5px slategrey;
  }
  &:has(.card__button:active) {
    box-shadow: 0 2px 5px 5px purple;
  }
}
